html, body {
  margin: 0;
  padding: 0;
  font-family: Lucida, Helvetica, sans-serif;
}

.header, .results {
  width: 100%;
  text-align: center;
}

.result {
  min-height: 100px;
  min-width: 100px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
}
